@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
  /* background: linear-gradient(to bottom right, #6b0f1e, #450d17, #300911, #450d21, black); */
  background-color: black;
  min-height: 100vh; /* Ensure the gradient covers the entire viewport */
  margin: 0; /* Remove default margin for a seamless background */
}

@keyframes rainbowGlow {
  0% {
    text-shadow: 0 0 5px #ff7eb3, 0 0 10px #ff7eb3, 0 0 20px #ffae42, 0 0 30px #80ffdb, 0 0 40px #ff4d6d, 0 0 50px #ffc300;
  }
  50% {
    text-shadow: 0 0 10px #ff4d6d, 0 0 20px #80ffdb, 0 0 30px #ffae42, 0 0 40px #ff7eb3, 0 0 50px #ffc300, 0 0 60px #ff4d6d;
  }
  100% {
    text-shadow: 0 0 5px #80ffdb, 0 0 10px #ff4d6d, 0 0 20px #ffc300, 0 0 30px #ff7eb3, 0 0 40px #ffae42, 0 0 50px #80ffdb;
  }
}



.glowing-text {

  /* Rainbow Gradient */
  background: linear-gradient(
    90deg,
    #ffffff,
    #ff7eb3,
    #ff4d6d,
    #ffae42,
    #80ffdb,
    #ffc300,
    #ffffff
  );
  background-clip: text;
  /* -webkit-background-clip: text; */
  -webkit-text-fill-color: transparent;

  /* Glow Effect */
  /* animation: rainbowGlow 3s infinite alternate; */
}




/* #1b1819 */

/* width */
::-webkit-scrollbar {
    width: 7px;
  }
  

   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #313135; 
    border-radius: 30px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #6C6C76; 
    transition: all 0.5s linear;
  }